version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: marketplace_db
    ports:
      - "5433:5432" # Use 5433 to avoid conflict with other projects
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
